<div class=" w-[100vw] py-3 bg-green-600 text-white text-2xl">
    <div class="w-[90vw] flex justify-between mx-auto">
      <h1 class="mx-3">Nikhil-Technical</h1>
      <ul class="flex ">
        <li> <a class="text-xl mx-5" href="/"> Home </a> </li>
        <li> <a class="text-xl mx-5" href="/register"> Register </a> </li>
        <li> <a class="text-xl mx-5" href="/login"> Login </a> </li>
      </ul>
    </div>
  </div>