<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body>
  {{>navbar}}
  <figure>
    <img  class="w-[98vw] mx-auto" src="./image/front_img.jpg" alt="">
  </figure>  
</body>
</html>